DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=postgres
DB_SCHEMA=unicarona
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=false

JWT_SECRET=
RESEND_API_KEY=

SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_PROFILE_BUCKET=fotos-perfil
